# Chi Square Test

Two Categorical Variables

The management at the VeryAnts ant store wants to know if their two most popular species of ants, the Leaf Cutter and the Harvester, vary in popularity between 1st, 2nd, and 3rd graders.

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

ants = pd.read_csv("ants_grade.csv")
ants.head()

  Grade          Ant
0   1st    harvester
1   2nd    harvester
2   2nd  leaf cutter
3   1st    harvester
4   3rd  leaf cutter

In [3]:
Contingency_table = pd.crosstab(ants.Grade, ants.Ant)
Contingency_table

Ant    harvester  leaf cutter
Grade
1st           28            8
2nd           31            5
3rd           23           13

In [11]:
# run Chi-Square test and print p-value
chi2, pval, dof, expected = chi2_contingency(Contingency_table)

In [12]:
pval

0.08356116834982279

## Conclusion

Pval Threshold 0.05 < 0.08, We will accept the null hypothesis which mean that popularity of top 2 ants does not vary among grades