# Corey Schafer

***

### Classes and Instance

In [ ]:
class Employee:
    pass

In [ ]:
# class instance
emp1=Employee()
emp2=Employee()

In [ ]:
# Instance Variable are unique to each instance 
# each of these instance has attributes that unique to them

emp1.first='alyx'
emp1.last='mandario'
emp1.email='alyxmandario@gmail.com'
emp1.pay=20000

emp2.first='vane'
emp2.last='ruby'
emp2.email='vaneruby@gmail.com'
emp2.pay=30000

# we dont have to do this alot of code everytime. We gonna use special __init__ method

In [ ]:
emp1.__dict__

In [ ]:
class Employee:
    
    # when we create method inside a class, they receive the instance as the first arguments automatically and by 
    # onvention we call the that instance "self".
    # __init__ method run evertime we create an instance    
    def __init__(self, first, last, pay): 
        self.first=first
        self.last=last
        self.pay=pay
        self.email=first + '.' + last + '@company.com'
    
    # method (perform some kind of action)
    # display fullname
    def fullname(self):
        return '{} {}'.format(self.first, self.last)

In [ ]:
# Now we can arguments to our class instance 
# emp1 will be pass as self in our Employee class
emp1=Employee('alyx', 'mandario', 20000) # first/last/pay
emp2=Employee('vane', 'ruby', 30000)

In [ ]:
# call atrribute
emp1.email

In [ ]:
# call method
emp1.fullname()

### Class variable
Variable that are shared among all instances of a class

In [ ]:
# what data we want to be shared among of our class employee
# lets say all instance have a yearly bonus that are equal to all employee (50% pay bunos for example)
  
class Employee:
    
    
    #class variable
    raise_pct = 1.5
    
    # keep track of number of employee
    num_emp = 0 
    
    # when we create method inside a class, they receive the instance as the first arguments automatically and by 
    # onvention we call the that instance "self".
    def __init__(self, first, last, pay): 
        self.first=first
        self.last=last
        self.pay=pay
        self.email=first + '.' + last + '@company.com'
        
        # access Employee class
        Employee.num_emp += 1
        
        
        
    # method (perform some kind of action)
    # display fullname
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    
    
    
    # compute 50% raise bunos (update the pay to raise_pct value)
    def raise_amount(self):
        self.pay=int(self.pay * self.raise_pct)

In [ ]:
emp1=Employee('alyx', 'mandario', 20000) # first/last/pay
emp2=Employee('vane', 'ruby', 30000)

In [ ]:
# orignal pay
print(emp1.pay)

# apply raise_amount method
emp1.raise_amount()

# updated pat
print(emp1.pay)

In [ ]:
# check raise_oct for the employee class and each individual instance
print(Employee.raise_pct)
print(emp1.raise_pct)
print(emp2.raise_pct)

# they all have the same raise_pct

In [ ]:
# change raise_pct for particular instance

# raise_pct to 100%
emp2.raise_pct = 2

In [ ]:
print(Employee.raise_pct)
print(emp1.raise_pct)
print(emp2.raise_pct)

In [ ]:
emp2.raise_amount()
print(emp2.pay)

In [ ]:
# raise_pct to 100% to all instances(Employee class)
Employee.raise_pct = 2

In [ ]:
print(Employee.raise_pct)
print(emp1.raise_pct)
print(emp2.raise_pct)

In [ ]:
# number of employee
Employee.num_emp

### @property
- access method as like attributes

In [ ]:
class Employee:
    def __init__(self, first, last, pay): 
        self.first=first
        self.last=last
        self.pay=pay
        self.email=first + '.' + last + '@company.com'


    def fullname(self):
        return '{} {}'.format(self.first, self.last)

In [3]:
emp3=Employee('cat', 'kat', 30000)

In [ ]:
emp3.fullname()

In [ ]:
emp3.fullname

In [5]:
class Employee:
    def __init__(self, first, last, pay): 
        self.first=first
        self.last=last
        self.pay=pay
        self.email=first + '.' + last + '@company.com'

    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)

In [6]:
emp3=Employee('cat', 'kat', 30000)

In [8]:
emp3.fullname

'cat kat'

### Functional Programing
First Class Citezen

In [9]:
def add(x, y):
  return x + y
 
def sub(x, y):
  return x - y
 
def times3(a, b, function):
  return 3 * function(a, b)
 
add_then_times3 = times3(2, 4, add) # 18
sub_then_times3 = times3(2, 4, sub) # -6

In [11]:
times3(2,3, add)

15

### Tuple

In [12]:
student  = (("Scott", 28, 'A'), ("Nicole", 26, 'B'), ("John", 29, 'D'))

In [13]:
from collections import namedtuple
 
# Create a class called student
student = namedtuple("student", ["name", "age", "grade"]) 
 
# Create tuples for the three students
 
scott = student("Scott", 28, 'A')
nicole = student("Nicole", 26, 'B')
john = student("John", 29, 'D')

In [14]:
print(scott.name) # Output: Scott
print(scott.age) # Output: 28
print(scott.grade) # Output: ‘A’

Scott
28
A

In [17]:
students = (scott, nicole, john)

In [18]:
students

(student(name='Scott', age=28, grade='A'),
 student(name='Nicole', age=26, grade='B'),
 student(name='John', age=29, grade='D'))

In [20]:
from collections import namedtuple

# Checkpoint 1 code goes here.
country = namedtuple('country', ['name', 'capital', 'continent'])

# Checkpoint 2 code goes here.
France = country('France', 'Paris', 'Europe')
Japan = country('Japan', 'Tokyo', 'Asia')
Senegal = country('Senegal','Dakar', 'Africa')

# Checkpoint 3 code goes here.
countries = (France, Japan, Senegal)

In [23]:
countries

(country(name='France', capital='Paris', continent='Europe'),
 country(name='Japan', capital='Tokyo', continent='Asia'),
 country(name='Senegal', capital='Dakar', continent='Africa'))

### Lamda

In [24]:
# normal function
def rect(b, h):
  return b * h
 
def tri(b, h):
  return 0.5 * (b * h)
 
# ppsm: price per square meter
# dim: dimensions tuple
def total_cost(ppsm, dim, area):
  return ppsm * area(dim[0], dim[1])
 
print(total_cost(3, (5, 5), rect)) # Rectangular sheet costing 75 units
print(total_cost(4, (6, 7), tri)) # Rectangular sheet costing 84 units

75
84.0

In [26]:
# lamda
# ppsm: price per square meter
# dim: dimensions tuple
def total_cost(ppsm, dim, area):
  return ppsm * area(dim[0], dim[1])
 
print(total_cost(3, (5, 5), lambda b, h: b*h)) # Rectangular sheet costing 75 units
print(total_cost(4, (6, 7), lambda b, h: 0.5 * b*h)) # Rectangular sheet costing 84 units

75
84.0

In [27]:
# Lambda functions can be stored in a variable like so:
rect = lambda x, y: x * y
tri = lambda x, y: 0.5 * x * y

hghg